<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4bc72">  <td>22/12/28 09:14:48</td>   <td>0</td> <td title="&gt;&gt;BaseGoogleTest.setUp()[pri:0, instance:tests.VerifyGooglePhonePageTest@5be1d0a4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1481818223</td>   <td></td> </tr>
<tr bgcolor="a966d3">  <td>22/12/28 09:14:51</td>   <td>2740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyGooglePhonePageTest.verifyGooglePhonePageTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.VerifyGooglePhonePageTest@5be1d0a4]">verifyGooglePhonePageTest</td> 
  <td>main@1481818223</td>   <td></td> </tr>
</table>
