<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="deea7f">  <td>22/12/28 12:08:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatGoogleAccountPageTest.creatGoogleAccountPageTest(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.CreatGoogleAccountPageTest@2a5c8d3f]">creatGoogleAccountPageTest</td> 
  <td>main@1747352992</td>   <td></td> </tr>
<tr bgcolor="777cd7">  <td>22/12/28 12:08:41</td>   <td>-2406</td> <td title="&gt;&gt;BaseGoogleTest.setUp()[pri:0, instance:tests.VerifyGooglePhonePageTest@394df057]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1747352992</td>   <td></td> </tr>
<tr bgcolor="777cd7">  <td>22/12/28 12:08:45</td>   <td>1369</td> <td title="&lt;&lt;BaseGoogleTest.tearDown()[pri:0, instance:tests.VerifyGooglePhonePageTest@394df057]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1747352992</td>   <td></td> </tr>
<tr bgcolor="a9766d">  <td>22/12/28 12:08:44</td>   <td>598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyGooglePhonePageTest.verifyGooglePhonePageTest(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.VerifyGooglePhonePageTest@394df057]">verifyGooglePhonePageTest</td> 
  <td>main@1747352992</td>   <td></td> </tr>
</table>
